<form action="/" method="post">
  <label for="number">Number</label>
  <input type="number" name="number" id="number" min="1">
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<ul>
  #foreach ($item in $results)
    <li>$item</li>
  #end
</ul>
